<h3>Matérias que estou cursando</h3>

<ul>
    <li>
        POO
    </li>
    
    <li>
        Microcontroladores
    </li>
    
    <li>
        Circuitos II
    </li>   
</ul>

<br><h3>Links do Yotube</h3>

<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=JrFSCcJvLFU&t=4s">link 1</a>
    </li>
    
    <li>
        <a href="https://www.youtube.com/watch?v=Jffhg1ZKDbA">link 2</a>
    </li>
</ul>

<br><h3>Animal</h3>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnVByd-8Iwvc_TZY0MI3oQPBDqcbrQW8QM_UpCT2qczwmvDWeVb2M6nMbPqLPLPMRTDcE&usqp=CAU">